.gal-container {
    width: 50%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.gal-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: var(--transition_two);
}

.gal-container:hover img {
    transform: scale(1.05);
}

.gal-container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.gal-container .content .content-one {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.gal-container .content .content-one p,
.gal-container .content .content-one h2,
.gal-container .content .content-two p {
    font-family: var(--font);
    color: var(--white);
    text-transform: capitalize;
}

.gal-container .content .content-one p {
    font-size: 15px;
    font-weight: 300;
}

.gal-container .content .content-one h2 {
    font-weight: 400;
    margin-top: 10px;
}

.gal-container .content .content-two {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.gal-container .content .content-two p {
    cursor: pointer;
    transition: var(--transition_two);
    position: relative;
    transform: scale(0);
}

.gal-container .content .content-two p::after {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 0%;
    height: 1.5px;
    width: 100px;
    background-color: var(--white);
    transition: var(--transition_two);
}

.gal-container .content .content-two p:hover:after {
    background: var(--ligth_blue);
}

.gal-container .content .content-two p:hover {
    color: var(--ligth_blue)
}


.gal-container .content:hover p {
    transform: scale(1);
}


@media (max-width: 778px) {
    .gal-container {
        width: 100%;
        height: 50vh;
    }

    .gal-container .content .content-one {
        bottom: 5%;
        left: 5%;
    }

    .gal-container .content .content-two {
        bottom: 5%;
        right: 5%;
    }
}