.navigation-container .nav-box ul li {
    list-style: none;
}

.navigation-container .nav-box ul li a {
    text-decoration: none;
    font-family: var(--font);
    font-size: 1em;
    text-transform: capitalize;
    color: #BABABA;
    line-height: 35px;
    transition: var(--transition_two);
    font-weight: 300;
}

.navigation-container .nav-box ul li a:hover {
    color: var(--ligth_blue);
}